.circle-text h3 {
  color: brown;
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  /* border: 4px solid rgba(200,200,200,0.4); */
	border-radius: 50%;	
	transition: linear 0.25s;
  height: 128px;
  width: 128px;
  padding-left: 75px;
}
.circle img {
	border-radius: 50%;
  
}
