@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

.form-body {
  /* height: 100vh; */
  background-image: linear-gradient(130deg, #fefefe, #ededed);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.container-form {
  background-color: white;
  display: flex;
  width: 800px;
  border: 1px solid brown;
  box-shadow: 8px 8px 0 0 brown;
}

.left-form, .right {
  width: 600px;
  height: 700px;
}

.left-form {
  padding: 40px 60px;
}

form {
  display: flex;
  flex-direction: column;
}

.accept {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.accept input {
  width: 15px;
  margin-right: 10px;
}

.form-image {
  height: 500px;
  padding: 40px 60px;
}

.left h1 {
  margin-bottom: 10px;
}

label {
  margin: 15px 0 5px;
  font-size: 0.9rem;
}

.left p {
  margin-bottom: 15px;
}

input {
  height: 35px;
}

.accept p {
  margin: 0;
}

.button {
  width: 100%;
  height: 45px;
  background-color: brown;
  color: white;
  font-size:1rem;
  margin-top: 30px;
}