@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.header-container ul li{
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  list-style-type:none;
}

.header-left {
  width: 500px;
  float: left;
}

.header-right {
  width: 620px;
  float: left; 
}

.header-content {
  margin-left:21px !important;
  padding-right:24px !important;
  color: brown;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.header-title {
  margin-left:21px !important;
  padding-right:24px !important;
  color: brown;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
